body {
    font-family: poppins,Helvetica,Tahoma,Arial,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: normal;
    -webkit-font-variant-ligatures: normal;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: greyscale;
    -webkit-font-smoothing: antialiased;
}

ul {
    list-style: none
}

a,button,.button,.btn input[type=submit] {
    transition: all .3s
}

a:hover {
    text-decoration: none
}

label,
label a,
.label,
.form-control {
    font-size: .8rem
}

label[for="cat_1"] {
  margin-right: 2rem;
}

.hidden {
    display: none
}

#donation {
    position: relative;
    top: -100px;
    left: 0
}

div#DonInfo a {
    font-size: .55rem
}

/* #wrapper h1.hidden {
    display: block;
    margin: 1rem auto 2rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
} */

#logo {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    height: auto;
    margin: 0 auto;
    padding: 0;
  }

  #logo a {
    display: block;
    height: 100px;
  }

  #logo a:hover {
    border: 0;
  }

  #logo a::before {
    position: absolute;
    top: 5px;
    content: "";
    background: url("https://raw.githubusercontent.com/gist/datFunc/6a714dd2d20edc246facae8c063125c1/raw/b762783da7be41e313c389362144c0ad25e5372d/logo.svg")
      no-repeat left center;
    background-size: 100% 100%;
    display: inline-block;
    height: 44px;
    width: 44px;
    margin-left: -60px;
  }

  #logo a::after {
    content: "BroadcasTheNet";
    color: #329bc2;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin: 0 auto;
  }

#wrapper {
    margin-top: 1.5rem
}

.potato-menu-group {
    display: none;
}

  ul.potato-menu li.potato-menu-item {
    position: relative;
  }

  ul.potato-menu li.potato-menu-item a {
    display: block;
    padding: 0 20px;
    line-height: 30px;
    height: 30px;
  }

  ul.potato-menu ul.potato-menu-group {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 1000;
    background: #eaeaea;
    width: auto;
    text-align: left;
  }

  ul.potato-menu ul.potato-menu-group li {
    margin: 0;
    padding: 0;
  }

  ul.potato-menu ul.potato-menu-group a {
    display: block;
    min-width: 140px;
    padding: 0 10px;
  }

  ul.potato-menu ul.potato-menu-group a:hover {
    background-color: #c1c1c1;
    color: #ffffff;
  }

  #header,
  #header a {
    color: #212529;
  }

#menu1,#userinfo ul {
    display: inline-block;
    margin: 0 auto;
    font-size: .84rem;
}

#userinfo_username li,#userinfo_major li,#userinfo_stats li,#userinfo_minor li {
    display: inline-block;
    margin: 0 .5rem
}

#menu1 .nav-link {
    display: inline-flex;
    margin: 0 1rem
}

#searchbars ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none
}

#searchbars ul li {
    padding: 5px;
    width: auto;
    margin: 1rem auto;
}

#taglist {
    margin: 1rem;
    border: 1px solid #ced4d9;
    background-color: #fff;
    border-radius: .25rem;
}

#taglist tbody a {
    font-size: .8rem;
    margin: 1rem;
    text-transform: capitalize;
}

.linkbox {
    font-size: .8rem;
    text-align: center;
}



.filter_torrents h3 {
  font-size: 1.2rem;
}

  /* Category Icons */

  /* Hide default icons */
  img[src="https://cdn.broadcasthe.net/common/caticons/series-hd.png"],
  img[src="https://cdn.broadcasthe.net/common/caticons/episode-hd.png"],
  img[src="https://cdn.broadcasthe.net/common/caticons/series-sd.png"],
  img[src="https://cdn.broadcasthe.net/common/caticons/episode-sd.png"]
  {
    display: none;
  }

  .episode-hd,
  .episode-sd {
    background: url("https://gistcdn.githack.com/datFunc/bd1bc6c99ab52917feefbf177772937b/raw/fd26db499f762aacd4461a061cdd1d63f957d0f2/tv-episode-alt.svg")
      no-repeat center top;
  }

  .season-hd,
  .season-sd {
    background: url("https://gistcdn.githack.com/datFunc/bd1bc6c99ab52917feefbf177772937b/raw/fd26db499f762aacd4461a061cdd1d63f957d0f2/tv-season-alt.svg")
      no-repeat center top;
  }

  .season-hd::before,
  .season-hd::after,
  .episode-hd::before,
  .episode-hd::after,
  .season-sd::before,
  .season-sd::after,
  .episode-sd::before,
  .episode-sd::after {
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    opacity: 1;
  }

  .season-hd::before,
  .episode-hd::before,
  .season-sd::before,
  .episode-sd::before {
    font-size: 1.5rem;
    font-weight: 900;
    display: block;
    position: relative;
    top: 4px;
    left: 0;
    mix-blend-mode: overlay;
  }

  .season-hd::after,
  .episode-hd::after,
  .season-sd::after,
  .episode-sd::after {
    font-size: 0.65rem;
    font-weight: 700;
    display: block;
    margin: 20px auto 0;
  }

  .season-hd::before,
  .episode-hd::before {
    content: "HD";
  }

  .season-hd::after,
  .season-sd::after {
    content: "Season";
    color: #c83231;
  }

  .season-sd::before,
  .episode-sd::before {
    content: "SD";
  }

  .episode-hd::after,
  .episode-sd::after {
    content: "Episode";
    color: #327cd1;
  }

  .season-hd,
  .episode-hd,
  .season-sd,
  .episode-sd {
    display: block;
    background-size: 50px;
    padding: 0 0.3rem;
    transition: all 0.3s;
    transform: scale(0.9);
  }

  .season-hd:hover,
  .episode-hd:hover,
  .season-sd:hover,
  .episode-sd:hover {
    opacity: 0.75;
  }
